Source: digiham
Maintainer: Jakob Ketterl <jakob.ketterl@gmx.de>
Section: hamradio
Priority: optional
Standards-Version: 4.2.0
Build-Depends: debhelper (>= 11), cmake (>= 3), libmbe-dev
Vcs-Browser: https://github.com/jketterl/digiham
Vcs-Git: https://github.com/jketterl/digiham.git

Package: digiham
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tools for decoding digital ham radio communication
 Simple set of command-line tools that is intended to be used to decode
 digital modulations used by ham radio operators. The main focus is on digital
 voice modes.
